<h1>DASHBOARD</h1>
	<div>
		<ul>
			<li><%= link_to 'CREATE A BOOK', new_book_path %></li>
			<br>
			<li><%= link_to 'View my cart', '/orders/cart' %></li>
			<li><%= link_to 'View my order history', '/orders' %></li>
			<li><%= link_to 'Contact customer service', '#' %></li>	
		</ul>
</div>