<h1>Cart</h1>
<% if @line_items %>
    <tr>
        <% @line_items.each do |item| %>
            <td><%= image_tag item.book.image.first %></td>
            <td><%= item.quantity %></td>
            <td><%= item.book.title %></td>
            <td><%= item.book.price %></td>
        <% end %>    
    </tr>
<% end %>