<h1><%= @book.title %></h1>
<br>
<% @book.image.each do |image| %>
	<%= image_tag image %>
	<br>
<% end %>
<div>
<p>$<%= @book.price %></p>
</div>
<div>
<%= link_to 'CART', '/orders/cart', class: 'btn-lgn' %>
</div>