<h1>About</h1>
<div>
<h4>THE SHORT STORY</h4>
</div>
<div>
<p class="about-text">Burst Book was designed by Milcah Halili
for their Web Development Immersive project.
Their friend, Ophelia, gave them the idea.</p>
</div>
<div>
<h4>THE LONG STORY</h4>
</div>
<div>
<p class="about-text">Burst Book was born one day when an Asian,
whose parents are from South East Asia
(the Pilippine Islands), and another Asian,
whose parents are from East Asia (China),
were text messaging:</p>
</div>
<div class="about-image">
<%= image_tag("ophelia_and_milcah.png", :alt => "Ophelia and Milcah chatting") %>
</div>
<div>
<p class="about-text">The sender's name is Milcah Halili. They go to web
development school at General Assembly in
Little Tokyo. The receiver's name is Ophelia. She
is the founder of StockPotImages.com.</p>
</div>
<div>
<p class="about-text">Ophelia and Milcah met because they both were
panelists at High Times Harvest Cup of 2017.
Milcah founded a blog called FatFlower.Media with
their soon-to-be wife, April Flores, who was the panel
moderator. It was only a matter of time before
they became friends who make art together.</p>
</div>

