<h1>FAQ</h1>
<div>
	<p>How do I create a custom flip book?</p>
</div>
<div>
	<ol>
		<li><%= link_to 'SIGN UP', new_customer_path %> or <%= link_to 'LOG IN', login_path %> to get started.</li>
		<li>Click on <%= link_to 'CREATE A BOOK', new_book_path %>.</li>
		<li>Upload burst photos.</li>
		<li>Submit delivery and payment info.</li>
	</ol>
</div>
<div>
	<p>How long is delivery?</p>
</div>
<div>
	<p>Your book will be delivered to you in 5 - 7 business days!</p>
</div>