<h1>BURST BOOK</h1>
<h3>BUILD YOUR OWN</h3>
<h2>FLIP BOOK</h2>
<p>Upload your photos</p>
<p><%= image_tag("test.jpg", :alt => "test photo") %></p>
<p>We'll print them out for you</p>
<p>SIGN UP NOW</p>
<p>READ OUR HOW-TO</p>